<%= render "mobiles" %>

<%
=begin%>
 <table>

<tr>
<% count=0 %>
<% @mobiles.each do |mobile|%>

<% if (count % 3) == 0%>
</tr>
<tr>
<% end %>
<% count+=1 %>
<td><%= image_tag mobile.product_image ,:height=>"100",:width=>"100" %><br />
Name : <%= mobile.name %><br />
Color :<%= mobile.color %><br />
RAM : <%= mobile.ram %><br />
ROM : <%= mobile.rom %><br />
Price : <%= mobile.price %>
<%= button_to 'Add to Cart', line_items_path(:store_id => mobile.id)%> </td>
<% end %>
</tr>
</table> 
<%
=end%>
